h1 {
  font-size: 4rem;
  font-family: 'Abril Fatface';
  text-transform: uppercase;
  text-indent: 10px;
  text-decoration: underline;
  text-decoration-color: #7223d8;
  text-decoration-thickness: 0.4rem;
  text-underline-offset: 0.4rem;
  color: #080707;
  margin-top: 80px;
}
div{
  margin-bottom: 7px;
  font-size: 20px;
}
input[type="checkbox"]{
  margin-right: 10px;
}
input[type="radio"]{
  margin-right: 10px;
}
